body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #070707;
}

.App{
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.top-Bar{
  height: 10vh;
  width: 100vw;
  background-color: blanchedalmond;
  position: relative;

}

.main-Body{
  background-color: rgb(78, 77, 77);
  flex: 1;
}